@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-small {
  font-family: inherit;
  font-size:16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.intro {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/backgrounds/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-tagline {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-list, .services-list {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-title, .services-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.search {
  text-align: center;
}
.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-button {
  background-color: #82B3D3;
}

.newsletter-main {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/backgrounds/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.newsletter-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.social a {
  color: #000000;
  text-decoration: none;
}

.address {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  font-style: normal;
}

.filters {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/backgrounds/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: capitalize;
}

.navigation-link-current {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.control-input {
  font-size: 18px;
  line-height: 24px;
}

.button-blue {
  background-color: #82B3D3;
}

.button-crystal {
  background-color: transparent;
}

.hotels-num {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  color: #333333;
  background-color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card {
  background-color: #FFFFFF;
}

.hotel-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: capitalize;
}

.hotel-card-type {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.button-small-blue {
  font-family: inherit;
  font-size:16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-small-green {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.newsletter {
  text-align: center;
}
